/****************
GLOBAL
*****************/
body {
    margin: 0;
}






/****************
INDEX
*****************/

div.container {

    opacity:0.9;
    background-color:#ccc;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;

}

header {
    padding: 1em;
  	color: #f2f2f2;

    background-color: #333;
    clear: left;
    text-align: center;
}

footer {
    padding: 1em;
  	color: #f2f2f2;
    background-color: #333;
    clear: left;
    text-align: center;
}


.topnav {

  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #7S7S7S;
    color: white;
}

.fit{
	width:100%;
	height:100%;
}





/****************
PRODUCTS
*****************/



.product-layout {
  display: flex;
  border-bottom: 1px solid #757575;
  padding-bottom: 2em;
  margin-bottom: 2em;
}



.product-info{
  position: absolute;
  height: 100%;
  width: 100%;
  top:0;
  bottom:0;
  left:0;
  right:0;
  opacity:.5;

  display: flex;
  flex-direction: column;
  align-items: center;
}


.product-title {
  padding-bottom: 1em;
  border-bottom: 1px solid #757575;
}





/****************
HISTORY
*****************/












/****************
TESTIMONIALS
*****************/
.test_body {
  background-image: : url("history-bg.jpg");
}

.test_img {
  position: center;
  border-radius: 3%;
  width: 225px;
  height: 200px;
  box-shadow: 10px 10px 8px #a4a4a4a4;
}

.test_quote {
  font-size: .75em;
  margin: auto;
  font-style: lighter;
  padding-top: 15px;
}







/****************
CONTACT
*****************/
