/****************
GLOBAL
*****************/
body {
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
}






/****************
INDEX
*****************/

div.container {

    opacity:0.9;
    background-color:#ccc;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;

}

header {
    padding: 1em;
  	color: #f2f2f2;

    background-color: #333;
    clear: left;
    text-align: center;
}

footer {
    padding: 1em;
  	color: #f2f2f2;
    background-color: #333;
    clear: left;
    text-align: center;
}


.topnav {

  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
    background-color: #7S7S7S;
    color: white;
}

.fit{
	width:100%;
	height:100%;
}





/****************
PRODUCTS
*****************/



.product-layout {
  position: relative;
  display: block;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4em;
  margin-top: 2em;

}



.product-image {
  width: 100%;
  height: auto;
  display: block;
}



.product-info{
  background-color: #fafafa;
  color: #494949;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;

  opacity:0;
  transition: .5s ease;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}

.product-layout:hover .product-info{
  opacity: .9;
}

.product-description{
  padding-left: 2em;
  padding-right: 2em;
}

.product-title {
  padding-bottom: 1em;
  border-bottom: 1px solid #757575;
}


.price{
  font-size: 3em;
  border-top: 1px solid #757575;
  padding-top: 1em;
}




/****************
HISTORY
*****************/
#history-bg {
    height: 100vh;
    background-image: url("../images/history-bg.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hide {
    display: none;
}
.un-hide{
    display: all;
}
#show-form {
  background: #757575;
  font-family: Arial;
  color: #ffffff;
  font-size: 2.5em;
  text-decoration: none;
  opacity: .45;
  border: none;
  border-radius: 20%;
}

#show-form:hover {
  background: #a4a4a4;
  text-decoration: none;
  border: none;
}

.form-css {
    display: flex;
    flex-direction: column;
    opacity: .6;
    background-color: #a4a4a4;
    color: #000000;
    padding: 2em 10em;
    border-radius: 20%;
}

#ocean-bg {

    height: 100vh;
    background-image: url("../images/history.jpg");
    background-size: cover;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-around;


}


@import url(http://fonts.googleapis.com/css?family=Open+Sans);



.middle {
   
    background-color: white;
    opacity: 0.5;
    margin:2em 0;
    max-width: 80%;

}

.middle > h2{
	padding: 0.5em 
}

.middle > p{
	padding: 0 1em 
}

.history-footer{
	display: flex;
	height: 100%;
	margin-top: 3em;
}


header,  #middle {
    margin-bottom: 0.5em;
}










/****************
TESTIMONIALS
*****************/
.test_body {
  background-image: : url("history-bg.jpg");
}

.test_img {
  position: center;
  border-radius: 3%;
  width: 225px;
  height: 200px;
  box-shadow: 10px 10px 8px #a4a4a4a4;
}

.test_quote {
  font-size: .75em;
  margin: auto;
  font-style: lighter;
  padding-top: 15px;
}







/****************
CONTACT
*****************/
